@model QuAnsBibel.Pages.HomeModel
@{
    var IVT = Model._IdValuTp;
}
@switch (@ViewData["Switch"])
{
    case "Help":
        <div class="card mt-3 mx-auto w-90">
            <p class="card-header card-header-best">@IVT.Value</p>
            <div class="card-body">
                <div class="text-right">
                    <div class="spc-pre-line">@IVT.Tp</div>
                </div>
            </div>
            <div class="card-footer">
                @if (@IVT.Reg != "")
                {
                    <div class="w-100 rounded-5 text-pointer text-center" onclick="Zoom(this);">
                        <img id="Photo" src="@IVT.Reg " alt="تصویر راهنما" class="w-100 text-pointer rounded-5" />
                        <i class="icofont-2x icofont-maximize text-primary"></i>
                    </div>
                    <span class="text-info">برای بزرگنمایی روی تصویر کلیک کنید</span>
                }
            </div>
        </div>
        break;

    case "Result":
        <div class='card w-max-350 mt-3 mx-auto text-center badge-info spc-pre-line'>
            <p class='card-header card-header-best text-warning'>@ViewData["MSGHeader"]</p>
            <div class='card-body'>@ViewData["MSG"]</div>
            <div class='card-footer text-white-50'>@ViewData["MSGFooter"] </div>
        </div>
        break;

    case "MSG":
        <div class="row"><div class="col font-17"><p class="badge-Learn w-lim-200-300 mx-auto text-center"><i class=" icofont-alarm font-22 text-warning mx-2"></i> @ViewData["MSG"]</p></div></div>
        break;

    default:
        break;
}
